In [104]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/logistic-data/logistic_data.xlsb
/kaggle/input/dataset-of-logistic/logistic_data.csv

In [105]:
df = pd.read_csv("/kaggle/input/dataset-of-logistic/logistic_data.csv")

In [106]:
df.shape

(297, 14)

### check the head of data

In [107]:
df.head()

,SKU Id,Origin Warehouse,Delivery Location,Brand,Order Id,Product Type,Item Cost,Selling Price,Channel ID,Courier Partner,Order_Created_Date,Order_Shipped_Date,Order_Delivered_Date,Order_Returned_Date
0,12340568.0,101.0,Delhi,Puma,8340568.0,Tshirt,2034.50,2237.950,1.0,ExpressShips,1-Jan-18,3-Jan-18,7-Jan-18,9-Jan-18
1,12340569.0,102.0,Mumbai,Adidas,8340569.0,Shades,775.49,953.853,2.0,ShipFast,1-Jan-18,3-Jan-18,16-Jan-18,NaN
2,12340570.0,103.0,Patna,Nike,8340570.0,Shirt,3509.48,3860.428,1.0,FastShipments,1-Jan-18,2-Jan-18,12-Jan-18,NaN
3,12340571.0,104.0,Kolkata,Reebok,8340571.0,Trousers,2349.47,2889.848,2.0,DeliveryExp,1-Jan-18,2-Jan-18,5-Jan-18,7-Jan-18
4,12340572.0,101.0,Haridwar,Puma,8340572.0,Cap,4982.46,5480.706,1.0,LandToAir,2-Jan-18,3-Jan-18,5-Jan-18,NaN

### Data Cleaning Technique

### step - handling missing Values
#### Dealing with missing values, such as filling zeros, means ,median, or using interpolation

#### find missing values

In [108]:
missing_data = df.isna().sum()/len(df)*100

In [109]:
missing_data

SKU Id                  92.255892
Origin Warehouse        92.255892
Delivery Location       92.255892
Brand                   92.255892
Order Id                92.255892
Product Type            92.255892
Item Cost               92.255892
Selling Price           92.255892
Channel ID              92.255892
Courier Partner         92.255892
Order_Created_Date      92.255892
Order_Shipped_Date      92.255892
Order_Delivered_Date    92.255892
Order_Returned_Date     97.643098
dtype: float64

In [110]:
missing_data1= df.isna().sum()

In [111]:
missing_data1

SKU Id                  274
Origin Warehouse        274
Delivery Location       274
Brand                   274
Order Id                274
Product Type            274
Item Cost               274
Selling Price           274
Channel ID              274
Courier Partner         274
Order_Created_Date      274
Order_Shipped_Date      274
Order_Delivered_Date    274
Order_Returned_Date     290
dtype: int64

#### Handaling Missing value in Numerica Columns (int and float):

#### Get the data's info

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SKU Id                23 non-null     float64
 1   Origin Warehouse      23 non-null     float64
 2   Delivery Location     23 non-null     object
 3   Brand                 23 non-null     object
 4   Order Id              23 non-null     float64
 5   Product Type          23 non-null     object
 6   Item Cost             23 non-null     float64
 7   Selling Price         23 non-null     float64
 8   Channel ID            23 non-null     float64
 9   Courier Partner       23 non-null     object
 10  Order_Created_Date    23 non-null     object
 11  Order_Shipped_Date    23 non-null     object
 12  Order_Delivered_Date  23 non-null     object
 13  Order_Returned_Date   7 non-null      object
dtypes: float64(6), object(8)
memory usage: 32.6+ KB

In [113]:
def identify_column_types(df):
    catagorical_columns = []
    numeric_column = []
    
    for column in df.columns:
        if pd.api.types.is_numeric_dtype(df[column]):
             numeric_column.append(column)
        elif pd.api.types.is_categorical_dtype(df[columns]):
            catagorical_columns.append(column)
            
        return numeric_column,catagorical_columns

In [114]:
df['numeric_column'].fillna(df['numaric_column'].mean(),inplace = true)

KeyError: 'numeric_column'

In [115]:
numeric_column

['SKU Id',
 'Origin Warehouse',
 'Order Id',
 'Item Cost',
 'Selling Price',
 'Channel ID']

In [116]:
df['SKU Id'].fillna(df['SKU Id'].mean(),inplace = True)

In [117]:
df['SKU Id'].isna().sum()

0

In [118]:
df.tail()

,SKU Id,Origin Warehouse,Delivery Location,Brand,Order Id,Product Type,Item Cost,Selling Price,Channel ID,Courier Partner,Order_Created_Date,Order_Shipped_Date,Order_Delivered_Date,Order_Returned_Date
292,12340579.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,12340579.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,12340579.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,12340579.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,12340579.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
def identify_column_types(df):
   
    numerical_columns = []
    categorical_columns = []

    for column in df.columns:
        if pd.api.types.is_numeric_dtype(df[column]):
            numerical_columns.append(column)
        elif pd.api.types.is_object_dtype(df[column]):
            categorical_columns.append(column)

    return numerical_columns, categorical_columns

In [120]:
numerical_cols, categorical_cols = identify_column_types(df)
print("Numerical Columns:", numerical_cols)
print("Categorical Columns:", categorical_cols)

Numerical Columns: ['SKU Id', 'Origin Warehouse', 'Order Id', 'Item Cost', 'Selling Price', 'Channel ID']
Categorical Columns: ['Delivery Location', 'Brand', 'Product Type', 'Courier Partner', 'Order_Created_Date', 'Order_Shipped_Date', 'Order_Delivered_Date', 'Order_Returned_Date']

In [121]:
import pandas as pd

def handle_missing_values(df, numerical_columns, categorical_columns, numerical_strategy='mean', categorical_strategy='mode'):
 
    for column in numerical_columns:
        if df[column].isna().any():
            if numerical_strategy == 'mean':
                df[column].fillna(df[column].mean(), inplace=True)
            elif numerical_strategy == 'median':
                df[column].fillna(df[column].median(), inplace=True)
            else:
                pass


    for column in categorical_columns:
        if df[column].isnull().any():
            if categorical_strategy == 'mode':
                df[column].fillna(df[column].mode()[0], inplace=True)
            else:
                pass

    return df

numerical_cols, categorical_cols = identify_column_types(df)

print(numerical_cols)
print(categorical_cols)

print("Original DataFrame:")
df.tail()

df = handle_missing_values(df, numerical_cols, categorical_cols, numerical_strategy='mean', categorical_strategy='mode')

print("\nDataFrame after handling missing values:")
df.tail()

['SKU Id', 'Origin Warehouse', 'Order Id', 'Item Cost', 'Selling Price', 'Channel ID']
['Delivery Location', 'Brand', 'Product Type', 'Courier Partner', 'Order_Created_Date', 'Order_Shipped_Date', 'Order_Delivered_Date', 'Order_Returned_Date']
Original DataFrame:

DataFrame after handling missing values:

,SKU Id,Origin Warehouse,Delivery Location,Brand,Order Id,Product Type,Item Cost,Selling Price,Channel ID,Courier Partner,Order_Created_Date,Order_Shipped_Date,Order_Delivered_Date,Order_Returned_Date
292,12340579.0,102.434783,Mysore,Puma,8340579.0,Tshirt,2627.346522,3114.359609,1.434783,ExpressShips,3-Jan-18,4-Jan-18,16-Jan-18,24-Jan-18
293,12340579.0,102.434783,Mysore,Puma,8340579.0,Tshirt,2627.346522,3114.359609,1.434783,ExpressShips,3-Jan-18,4-Jan-18,16-Jan-18,24-Jan-18
294,12340579.0,102.434783,Mysore,Puma,8340579.0,Tshirt,2627.346522,3114.359609,1.434783,ExpressShips,3-Jan-18,4-Jan-18,16-Jan-18,24-Jan-18
295,12340579.0,102.434783,Mysore,Puma,8340579.0,Tshirt,2627.346522,3114.359609,1.434783,ExpressShips,3-Jan-18,4-Jan-18,16-Jan-18,24-Jan-18
296,12340579.0,102.434783,Mysore,Puma,8340579.0,Tshirt,2627.346522,3114.359609,1.434783,ExpressShips,3-Jan-18,4-Jan-18,16-Jan-18,24-Jan-18

In [122]:
df.shape

(297, 14)

In [123]:
df['SKU Id'].drop_duplicates(inplace=True)

In [124]:
df.shape

(297, 14)